[user]
    email = welcometothechango@gmail.com
    name = clrnd
[push]
    default = simple
[core]
    editor = nvim -f
[diff]
  wsErrorHighlight = new
[alias]
    co = commit
    st = status -sb
    fe = fetch
    ch = checkout
    lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset'
    pussys = push --all
    pussy = push
    pushy = push
    puggy = push
    spuh = push
    psuh = push
    pshu = push
    pushf = push --force-with-lease
    up = !git fetch && git rebase --autostash FETCH_HEAD
    horas = log --all --author=clrnd --author=Alvarez --pretty="format:%ad|%h|%s" --date='format:%m %d'
    mf = merge --ff-only
    merfe = merge --ff-only
    pulr = pull --rebase --autostash
    difc = diff --cached
    forget = update-index --assume-unchanged
    unforget = update-index --no-assume-unchanged
    forgotten = !git ls-files -v | grep "^[[:lower:]]"
